<%= render 'public/titles/title', { title: @title } %>

<div class="container pt-3">
  <% if current_customer.present? %>
    <%= link_to "新しく掲示板を立てる", new_title_bulletin_board_path(title_id: @title.id) %>
  <% end %>
  <div class="row">
     <div class="col-12">
         <% if @bulletin_boards.present? %>
           <%= render @bulletin_boards %>
         <% else %>
           <p><%= t('.no_result') %></p>
         <% end %>
     </div>
  </div>
</div>