<%#= render 'public/titles/title', { title: @title } %>

<div class="container pt-3">
  <div class="row">
     <div class="col-12">
         <% if @bulletin_boards.present? %>
           <%= render @bulletin_boards %>
         <% else %>
           <p><%= t('.no_result') %></p>
         <% end %>
     </div>
  </div>
</div>