// Place all the styles related to the public/cheats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cheat_title{
  padding-left: 100px;
    padding-top: 20px;
}

.box{
  border: solid;
  border: 4px solid;
  border-radius: 8px;

}


.cheat_box{
  text-align:center;
}


.icon{
  position:fixed;
  font-size:30px;
  bottom:60px;
  right:200px;
}