// Place all the styles related to the public/informations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.information_title{
  padding-left: 100px;
    padding-top: 20px;
}

.informations{
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.information{
  text-align: center;
  padding: 10px;
  margin: 10px;
}