<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4><strong>会員一覧</strong></h4>
    </div>
  </div>
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>会員ID</td>
          <td>ユーザーネーム</td>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td>
            <%= link_to customer.name, admin_customer_path(customer.id) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>