<div class="box" align="center">
  <h4>キャラクター検索</h4>
  <div>
    <% @characters.each do |character| %>
    <div class="box">
      <%= link_to character.name, admin_title_character_path(@title, character.id) %>
      <%= character.attribution_method_i18n %>
    </div>
    <% end %>
  </div>
</div>