<header class="p-1 mb-1 bg-info text-white">
 <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
   <div class="navbar-brand p-1">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
     <ul class="navbar-nav ml-auto">
      <li class="nav-item">
       <tbody>
        <% @platforms.each do |platform| %>
         <%= link_to(admin_serch_path(platform_id: platform.id),  class: 'nav-link text-white') do %>
         <strong> <%= @platform.name %> </strong>
         <% end %>
        <% end %>
       </tbody>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </nav>
</header>

<div class="container">
 <h2><%= @platform.name %>一覧</h2>
 <div class="row">
  <div class="col-lg-10">
   <div class="row">
    <% @titles.each do |title| %>
    <div class="col-lg-3">
     <p><%= link_to title.name,admin_title_path(title.id) %></p>
    </div>
    <% end %>
  </div>
 </div>
</div>