<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <tr>
          <td><h4>タイトル詳細</h4></td>
          <td>
            <%= link_to edit_admin_title_path do %>
            <i class="fa-solid fa-circle-plus"><span>edit</span></i>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>