<%= render 'public/titles/title', { title: @title } %>
<div class="informations">
  <h4>最新情報</h4>
  <% @informations.each do |information| %>
    <div class="information"><%= link_to information.name, title_information_path(title_id: @title.id, id: information.id) %></div>
  <% end %>
</div>