<div class="box" align="center">
  <h4>攻略一覧</h4>
  <div>
    <% @cheats.each do |cheat| %>
    <div class="box">
      <%= link_to cheat.name, title_cheat_path(@title) %>
    </div>
    <% end %>
  </div>
</div>